<h2>Previously imported files</h2>

<table class="table">
  <thead> 
    <tr> 
      <th>#</th> 
      <th>Date Imported</th> 
      <th>Total Revenue</th>
      <th></th> 
    </tr> 
  </thead>
  <tbody> 
    <% @batches.each do |batch| %>
      <tr> 
        <th scope="row"><%= batch.id %></th> 
        <td><%= l(batch.created_at, format: :brazil) %></td> 
        <td><%= batch.total_revenue%></td> 
        <td><%= link_to "see sales", batch_path(batch), class: "btn btn-primary", role: "button" %></td>
      </tr> 
    <%end%>
  </tbody>
</table>

<%= link_to "import a sales file", new_batch_path, class: "btn btn-primary", role: "button" %>
<%= will_paginate @batches, renderer: BootstrapPagination::Rails %>
